language: r
sudo: false
os: linux
cache: packages
install:
  - R -e 'install.packages(c("rmarkdown", "magrittr", "devtools", "ggplot2"))'
script: make index.html
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master
  target_branch: gh-pages

